#category {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #category td, #category th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #category tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #category tr:hover {
        background-color: #ddd;
    }

    #category th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #2d2d2d;
        color: white;
    }
.btn1 {
    transition: all .5s ease;
    width: 50%;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 50px;
    text-decoration:none;
}

    .btn1:hover, .btn1:focus {
        background-color: #008080;
        color: #fff;
    }
.btn2 {
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color: #d33b3b;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #d33b3b;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 50px;
}

    .btn2:hover, .btn2:focus {
        background-color: #d33b3b;
        color: #fff;
    }
.btn3 {
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color: #ff6a00;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #ff6a00;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 50px;
}

    .btn3:hover, .btn3:focus {
        background-color: #ff6a00;
        color: #fff;
    }


